// @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");
@import "./_variables";
@import "./utils";

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
}

.page-section {
  display: flex;
  justify-content: center;
}

.main-container {
  @extend .page-section;
  min-height: 100vh;
  background: $darkBgColor;
  color: $darkBgFontColor;
  transition: color 1s, background 1s;

  .section-container {
    flex-direction: column;
    width: 100%;
    max-width: 50em;
    box-sizing: border-box;
    text-align: center;
  }
}

.intro-title-wrapper {
  padding-top: 15vh;
  transition: padding-top 0.5s;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 60vh;

  .heading {
    font-size: $fontBig;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    transition: font-size 0.5s;
  }

  .sub-heading {
    font-size: $fontMedium;
    font-weight: 300;
    transition: font-size 0.5s;
  }
}

.main-navigation {
  @extend .page-section;
  padding-bottom: 10vh;
  margin-top: auto;
  padding: 0.5rem 1rem;

  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: color 1s;

      .main-navigation-link {
        font-size: $fontNormal;
        font-weight: 400;
        color: $darkBgFontColor;
        text-decoration: none;

        .main-navigation-link-icon {
          font-size: $fontMedium;
        }

        .main-navigation-link-label {
          display: block;
          padding: 0.5rem;
        }
      }
    }
  }
}
